body {
    background: darkblue;
    height: 100vh;
  
  }

  a:hover {
    background-color: yellow;
  }
  
  @media screen and (max-width: 1200px) {
    body {
      background: linear-gradient(to bottom, darkblue, blue);
    }
  }
  
  @media screen and (max-width: 1000px) {
    body {
      background: linear-gradient(to bottom, darkblue, pink);
    }
  }
  
  @media screen and (max-width: 800px) {
    body {
      background: linear-gradient(to bottom, pink, lightblue);
    }
  }
  
  @media screen and (max-width: 600px) {
    body {
      background: lightblue;
    }
  }

#square-1 {
    width: 1360px;
    height: 400px;
    background-color: darkgreen;
    position: absolute;
    top: 400px;
    left: 0px;
}

  

#square-2 {
    width: 600px;
    height: 250px;
    background-color: rgb(105, 72, 0);
    position: absolute;
    top: 400px;
    left: 350px;
    transform: skew(-20deg);

}



  .sun {
    background-color:#fff;
    border-radius:50%;
    box-shadow:0 0 10vh 10vh #fff;
    height:10vh;
    position:fixed;
    right:0px;
    top:0px;
    width:10vh;
    animation-name: example8;
    animation-duration: 5s;
  }

@keyframes example8 {
0%   {right:0px; top:0px;}
25%  {right:30px; top:0px;}
50%  {right:30px; top:30px;}
75%  {right:0px; top:30px;}
100% {right:0px; top:0px;}
}



  .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  #circle-1 {
    position: absolute;
    top: 410px;
    left: 860px;
    background-color: lightblue;
    border: 7px solid pink ;
      animation-name: example1;
      animation-duration: 5s;
    }

@keyframes example1 {
  0%   {left:860px; top:410px;}
  25%  {left:870px; top:410px;}
  50%  {left:870px; top:420px;}
  75%  {left:860px; top:420px;}
  100% {left:860px; top:410px;}
}


  
  #circle-2 {
    position: absolute;
    top: 500px;
    left: 720px;
    background-color: green;
    border: 7px solid red ;
    animation-name: example2;
    animation-duration: 5s;
  }


@keyframes example2 {
  0%   {left:720px; top:500px;}
  25%  {left:730px; top:500px;}
  50%  {left:730px; top:510px;}
  75%  {left:720px; top:510px;}
  100% {left:720px; top:500px;}
}

  #circle-3 {
    position: absolute;
    top: 300px;
    left: 500px;
    background-color: orange;
    border: 7px solid violet;
    animation-name: example3;
    animation-duration: 5s;
  }

  @keyframes example3 {
    0%   {left:500px; top:300px;}
    25%  {left:510px; top:300px;}
    50%  {left:510px; top:310px;}
    75%  {left:500px; top:310px;}
    100% {left:500px; top:300px;}
  }

  #circle-4 {
    position: absolute;
    top: 450px;
    left: 400px;
    background-color: black;
    border: 7px solid purple ;
    animation-name: example4;
    animation-duration: 5s;
  }

  @keyframes example4 {
    0%   {left:400px; top:450px;}
    25%  {left:410px; top:450px;}
    50%  {left:410px; top:460px;}
    75%  {left:400px; top:460px;}
    100% {left:400px; top:450px;}
  }

  #circle-5 {
    position: absolute;
    top: 400px;
    left: 650px;
    background-color: yellow;
    border: 7px solid yellowgreen ;
    animation-name: example5;
    animation-duration: 5s;
  }

  @keyframes example5 {
    0%   {left:650px; top:400px;}
    25%  {left:660px; top:400px;}
    50%  {left:660px; top:410px;}
    75%  {left:650px; top:410px;}
    100% {left:650px; top:400px;}
  }

  #circle-6 {
    position: absolute;
    top: 470px;
    left: 550px;
    background-color: rgb(255, 0, 212);
    border: 7px solid red ;
    animation-name: example6;
    animation-duration: 5s;
  }

  @keyframes example6 {
    0%   {left:550px; top:470px;}
    25%  {left:560px; top:470px;}
    50%  {left:560px; top:480px;}
    75%  {left:550px; top:480px;}
    100% {left:550px; top:470px;}
  }

  #circle-7 {
    position: absolute;
    top: 300px;
    left: 750px;
    background-color: rgb(0, 255, 234);
    border: 7px solid rgb(94, 255, 0) ;
    animation-name: example7;
    animation-duration: 5s;
  }

  @keyframes example7 {
    0%   {left:750px; top:300px;}
    25%  {left:760px; top:300px;}
    50%  {left:760px; top:310px;}
    75%  {left:750px; top:310px;}
    100% {left:750px; top:300px;}
  }
  
  

  .stem {
    width: 10px;
    height: 90px;
  }
  
  #stem-1 {
    position: absolute;
    top: 450px;
    left: 895px;
    background-color: lightblue;
}
  
  #stem-2 {
    position: absolute;
    top: 550px;
    left: 755px;
    background-color: green;
  }

  #stem-3 {
    position: absolute;
    top: 350px;
    left: 530px;
    background-color: orange;
  }

  #stem-4 {
    position: absolute;
    top: 510px;
    left: 430px;
    background-color: black;
  }

  #stem-5 {
    position: absolute;
    top: 450px;
    left: 680px;
    background-color: yellow;
  }

  #stem-6 {
    position: absolute;
    top: 530px;
    left: 580px;
    background-color: rgb(255, 0, 212);
  }

  #stem-7 {
    position: absolute;
    top: 350px;
    left: 785px;
    background-color: rgb(0, 255, 234);
  }
  
  


  