body {
  background: url(space.jpg);
  padding-top: 5em;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.typewriter h1 {
  color: #fff;
  font-family: 'VT323', monospace;
  overflow: hidden;
  border-right: .15em solid rgb(255, 255, 255);
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255) }
}



.planet1{
  width: 70px;
  height: 70px;
  position: absolute; 
  left: 533px; 
  top: 279px;
}

.purple{
  width: 70px;
  height: 70px;
  position: absolute; 
  left: 200px; 
  top: 200px;
}

.earth{
  width: 70px;
  height: 70px;
  position: absolute; 
  left: 500px; 
  top: 500px;
}