body {
    margin: 0px;
    height: 100%;
    position: absolute;
}
p{

    margin: 150px;
    position: relative;
    top: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 18pt;
    text-align: justify; 
    }
    
.image1
{
width: 150px;
height: 410px;
align-content: flex-start;
}

.image2
{
width: 126px;
height:181px;
position: absolute;
top: 0px;
left: 1100px;
}

.image3
{
width: 800px;
height: 1000px;
position: absolute;
top: 0px;
left: 220px;

}
