body {
  margin: 0px;
  height: 100%;
  position: absolute;
  background-color: rgb(249, 240, 225);
}

.shadow
{
width: 197px;
height: 200px;
position: relative;
top: 50px;
left: 30px;
}

.gold
{
width: 197px;
height:200px;
position: relative;
top: 400px;
left: 200px;
}

.eaves
{
width: 197px;
height: 200px;
position: relative;
top: 200px;
left: 550px;
}
