h1{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: red;
    text-align: center;
    letter-spacing: 1px;
    }


    *{
        margin:0;
        padding:0;
    }
    
    html,body{
        background:rgb(198, 255, 192);
    }
    
    img{
        position: relative;
        float:left;
        width:25%;
        height:25vw;
    }
    
    h1{
        width: 50%;
        text-align: center;
        margin:35px auto;
        padding:14px;
        color:red;
        font-family: helvetica;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    select{
        font-size:35px;
        margin:14px;
    }

    
    
    