body {
    background-color: antiquewhite;
  }

.title {
width:9in;
height:1.5in;
position: absolute;
left: 490px;
top: 30px;
}


.music {
  width:120px;
height:120px;
  position: absolute;
  left: 13px;
  top: 10px;
  }


h1{
  position: absolute;
  left: 520px;
  top: 750px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 27px;
  color: #871B1B;
}

h2{
  position: absolute;
  left: 1210px;
  top: 750px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 27px;
  color: #E5C676;
}

.pasta-icon {
width:624px;
height:480px;
position: absolute;
left: 280px;
top: 250px;
}

.city-icon {
  width:624px;
  height:480px;
  position: absolute;
  left: 970px;
  top: 250px;
  }