body {
    background-color: antiquewhite;
  }

.title {
width:9in;
height:1.5in;
position: absolute;
left: 500px;
top: 30px;
}

h1{
  position: absolute;
  left: 520px;
  top: 750px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 27px;
}

h2{
  position: absolute;
  left: 1210px;
  top: 750px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 27px;
}

.pasta-icon {
width:5in;
height:5in;
position: absolute;
left: 350px;
top: 250px;
}

.city-icon {
  width:5in;
  height:5in;
  position: absolute;
  left: 1050px;
  top: 250px;
  }